.latest-posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 100px;
    border-bottom: 2px solid #cccccc;
}

.latest-posts-header-link {
    text-decoration: none;
    color: inherit;
}

.latest-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: main-contents;
    padding: 1rem 0;
    margin-bottom: 50px;
}

.latest-posts-box {
    display: grid;
    grid-template-areas: 
        "box-img"
        "box-body";
    grid-template-columns: 100%;
    text-decoration: none;
    margin-right: .7rem;
    margin-bottom: 2rem;
    border: 2px solid #a4a4a4;
    border-radius: 5px;
    width: calc(25% - 1rem);
    background: #fdfdfd;
}

.latest-posts-box:nth-child(4), .latest-posts-box:last-child {
    margin-right: 0;
}

.latest-posts-img {
    grid-area: box-img;
    height: 100%;
    width: 100%;
}

.latest-posts-body {
    display: grid;
    grid-area: box-body;
    row-gap: .5rem;
    grid-template-areas: 
        "box-title"
        "box-text";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.latest-posts-title {
    color: #333333;
    font-size: 1.5rem;
    grid-area: box-title;
    margin: 7px 0;
}

.latest-posts-text {
    color: #333333;
    line-height: 1.2;
    text-align: justify;
    grid-area: box-text;
}